<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AmbrosiaWPF.MySettings.ambrosiapark_proConnectionString"
            connectionString="server=localhost;user id=root;password=conard12;database=ambrosiapark;sslmode=None"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>